{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
<div class="wrapper">
  <article id="main-container" >
    {{ partial "articleheader.html" . }}


    <section id="article-content" class="container article-content">
      <div class="col-sm-12">
        {{ .Content }}
        <ul>
          {{ $data := .Data }}
          {{ range $key, $value := .Data.Terms }}
          <li><a href="{{ $.Site.BaseURL }}/{{ $data.Plural }}/{{ $key | urlize }}">{{ $key }}</a> {{ len $value }}</li>
          {{ end }}
        </ul>
      </div>
    </section>
    {{ partial "articlefooter.html" . }}


  </article>
</div>
{{ partial "footer.html" . }}
