<div class="swftools-wrapper onepixelout"><div class="swftools">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="290" height="24" id="swf14877993431">
			<param name="movie" value="http://www.ilgiardinodeglielefanti.org/sites/all/modules/swftools/shared/1pixelout/player.swf">
			<param name="allowScriptAccess">
			<param name="wmode" value="opaque">
			<param name="bgcolor" value="#FFFFFF">
			<param name="scale" value="showall">
			<param name="quality" value="autohigh">
			<param name="align" value="l">
			<param name="allowfullscreen" value="true">
			<param name="base" value="http://www.ilgiardinodeglielefanti.org/sites/default/files/">
			<param name="play" value="true">
			<param name="menu" value="false">
			<param name="loop" value="true">
			<param name="flashvars" value="playerID=14877993431&amp;autostart=no&amp;loop=no&amp;soundFile=http:%2F%2Fwww.ilgiardinodeglielefanti.org%2Fsites%2Fdefault%2Ffiles%2F01-premessa.mp3">
			<!--[if gte IE 7]>-->
			<object type="application/x-shockwave-flash" data="http://www.ilgiardinodeglielefanti.org/sites/all/modules/swftools/shared/1pixelout/player.swf" width="290" height="24">
				<param name="allowScriptAccess" value="sameDomain">
				<param name="wmode" value="opaque">
				<param name="bgcolor" value="#FFFFFF">
				<param name="scale" value="showall">
				<param name="quality" value="autohigh">
				<param name="align" value="l">
				<param name="allowfullscreen" value="true">
				<param name="base" value="http://www.ilgiardinodeglielefanti.org/sites/default/files/">
				<param name="play" value="true">
				<param name="menu" value="false">
				<param name="loop" value="true">
				<param name="flashvars" value="playerID=14877993431&amp;autostart=no&amp;loop=no&amp;soundFile=http:%2F%2Fwww.ilgiardinodeglielefanti.org%2Fsites%2Fdefault%2Ffiles%2F01-premessa.mp3">
				<!--<![endif]-->
				<p>You are missing some Flash content that should appear here! Perhaps your browser cannot display it, or maybe it did not initialize correctly.</p>
				<!--[if gte IE 7]>-->
			</object>
			<!--<![endif]-->
		</object>
	</div>
</div>


